*, *:before, *:after {
  box-sizing: border-box;
}

@import 'imported_stuff';


body {
  background: lighten(#86E2D5,20%);
}

nav .navbar-nav{
  margin: 0;

  li:hover{
    background: #65C6BB;
  }
}


